<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
  </head>
  <body>
  <div class="container">
    <header>
      <h1 class="home"><a href="{{ '/' | url }}">{{ metadata.name }}</a></h1>
      <p>{{ metadata.title }} </br> {{metadata.location}}</p>
      <p><a href="http://www.officeofexperience.com">The Office of Experience</a> </br>
        2016 &mdash; Present</p> 
    </header>

    <main>
&nbsp;
    </main>

    <footer>
      <ul>
        <li><a href="http://instagram.com/mramitpatel">Instagram</a></li>
        <li><a href="http://linkedin.com/mramitpatel">LinkedIn</a></li>
        <li><a href="mailto:amit@mramitpatel.com?subject=Yo">Email</a>
      </ul>
    </footer>
  </div>
    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
